version: '3'

services:
###> doctrine/doctrine-bundle ###
#  40k_db:
#    container_name: 40k_db
#    image: mariadb:10.4
#    environment:
#      MYSQL_USER: geo
#      MYSQL_PASSWORD: secret
#      MYSQL_DATABASE: 40k
#      MYSQL_ROOT_PASSWORD: root
#      # You should definitely change the password in production
#    volumes:
#      - db-data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###
  database:
    container_name: 40k_db
    image: 'mysql:5.7'
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: 40kApi
    ports:
      # To allow the host machine to access the ports below, modify the lines below.
      # For example, to allow the host to connect to port 3306 on the container, you would change
      # "3306" to "3306:3306". Where the first port is exposed to the host and the second is the container port.
      # See https://docs.docker.com/compose/compose-file/compose-file-v3/#ports for more information.
      - '3306'
  database_pma:
    container_name: 40k_pma
    image: phpmyadmin:5.2.0
    environment:
      PMA_HOST: 40k_db
      PMA_USER: root
      PMA_PASSWORD: password
    ports:
      - "8888:80"
    links:
      - database
    depends_on:
      - database

volumes:
###> doctrine/doctrine-bundle ###
  db-data:
    driver: local
###< doctrine/doctrine-bundle ###
